<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="game.hall.mapper.DbShopConfigMapper">

    <resultMap id="BaseResultMap" type="game.hall.domain.DbShopConfig">
            <id property="id" column="id" />
            <result property="productCode" column="product_code" />
            <result property="productName" column="product_name" />
            <result property="productType" column="product_type" />
            <result property="itemCount" column="item_count" />
            <result property="price" column="price" />
            <result property="giftCount" column="gift_count" />
            <result property="sortNum" column="sort_num" />
            <result property="icon" column="icon" />
            <result property="isHot" column="is_hot" />
            <result property="isEnable" column="is_enable" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,product_code,product_name,product_type,item_count,price,
        gift_count,sort_num,icon,is_hot,is_enable,
        create_time,update_time
    </sql>
</mapper>
