<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="game.hall.mapper.DbUserMapper">

    <resultMap id="BaseResultMap" type="game.hall.domain.DbUser">
            <id property="id" column="id" />
            <result property="username" column="username" />
            <result property="pwd" column="pwd" />
            <result property="nickname" column="nickname" />
            <result property="avatar" column="avatar" />
            <result property="gold" column="gold" />
            <result property="status" column="status" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,username,pwd,nickname,avatar,gold,
        status,create_time,update_time
    </sql>
</mapper>
